body {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: stretch;
}

main {
  display: grid;
  place-content: center;
  min-height: 100vh;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    > p:first-child {
      font-size: 1.5rem;
    }
  }
}
